@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

html, body {
    height: 100%; /* Asegura que el body y html ocupen toda la altura */
    margin: 0; /* Elimina márgenes por defecto */
}

.container-fluid{
    padding-top: 1%;
    padding-bottom: 1%;
}
.navbar-brand{
    font-family: "DynaPuff";
    color: rgb(20, 146, 127);
    font-size: 2rem;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 500px;
    background-image: url("../img/hero-casi-perfecto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    justify-content: center;
    margin-top: 15vh;
}
.hero-titulo{
    color: white;
    font-size: 3em;
    text-align: center;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
}
.productos{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
h1{
    font-size: 30px;
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    font-weight: 600;
    color: blueviolet;
    text-align: center;
}

.productos h3{
    font-size: 30px;
    font-weight: 600;
    color: rgb(20, 146, 127);
    text-align: center;
    padding-top: 4%;
}

.productos div h3:hover {
    color: 
    rgb(241, 147, 253);
}


main div h2{
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(1, 1, 20);
    text-align:center;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 3%;
}
h3{
    padding-bottom: 15px;
}
h2{
    font-size: 25px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}
p{
    text-align: center;
}
body{
    font-family: "Parkinsans", sans-serif;
}
.hero{
    text-align: center;
}
.productos img{
    width: 400px;
    height: 400px;
}
.productos{
    display: flex;
    flex-wrap: wrap;
}

/* .footer-flexbox{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    background-color: rgb(153, 203, 243);
    padding-top: 1%;
    padding-bottom: 1%;
} */

.footer-flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(153, 189, 183);
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}

.footer-flexbox img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 40px;
    width: 40px;
    text-decoration: none;
}
.footer-flexbox div p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(253, 252, 253);
    font-size: 19px;
}
/*pagina productos
*/
.productos-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    background-image: url("../img/banner-ceramica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}
.productos-banner h2 {
    color: white;
}
.productos-grid{
    margin-left: 5px;
    margin-top: 50px;
    padding-top: 1%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding-bottom: 1%;
}
.productos-grid img {
    height: 300px;
    width: 300px;
}
.productos-grid-item-img {
    grid-column: span 2;
}
/* Pagina nosotros */

.nosotros div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.nosotros-texto{
    display: flex;
    flex-direction: column;
    align-content: right;
    background-color: rgb(229, 214, 243);
}
.nosotros-texto p{
    text-align: left;
}
.nosotros-img {
    background-color: rgb(150, 126, 149);
}

/* Pagina personaliza */

.personaliza-intro{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.personaliza-intro section{
    padding-bottom: 3%;
}

.personaliza-forma{
    padding-left: 10%;
    padding-right: 10%;
}


